<section class="pt-5 mt-5 container">
    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#falana">
        Launch modal
        </button>


        <!-- Modal markup -->
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" id="falana">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Modal title</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer flex-column flex-sm-row">
          <button type="button" class="btn btn-secondary w-100 w-sm-auto mb-3 mb-sm-0" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary w-100 w-sm-auto ms-sm-3">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</section>