<div class="d-lg-flex position-relative h-100">
	<app-home-button></app-home-button>
	<!-- Sign in form -->
	<div class="d-flex flex-column align-items-center w-lg-50 h-100 px-3 px-lg-5 pt-5">
		<div class="w-100 mt-auto" style="max-width: 526px">
			<h1>Sign in to Around</h1>
			<p class="pb-3 mb-3 mb-lg-4">
				Don't have an account yet?&nbsp;&nbsp;
				<a routerLink="/account/signup">Register here!</a>
			</p>
			<form class="needs-validation" (ngSubmit)="onSubmit()" [formGroup]="otpForm">
				<div class="pb-3 mb-3">
					<div class="position-relative">
						<i class="ai-mail fs-lg position-absolute top-50 start-0 translate-middle-y ms-3"></i>
						<input class="form-control form-control-lg ps-5" formControlName="username" type="text" placeholder="username / email" required />
					</div>
                </div>
                <div class="pb-3 mb-3">
					<div class="position-relative">
						<i class="ai-mail fs-lg position-absolute top-50 start-0 translate-middle-y ms-3"></i>
						<input class="form-control form-control-lg ps-5" formControlName="otp" type="text" placeholder="OTP" required />
					</div>
                </div>
				<button class="btn btn-lg btn-primary w-100 mb-4" type="submit">Sign in</button>
			</form>
		</div>

		<!-- Copyright -->
		<p class="nav w-100 fs-sm pt-5 mt-auto mb-5" style="max-width: 526px">
			<span class="text-body-secondary">&copy; All rights reserved. Made by</span>
			<a class="nav-link d-inline-block p-0 ms-1" routerLink="/" target="_blank" rel="noopener">jsm33t.in</a>
		</p>
	</div>
	<div class="w-50 bg-size-cover bg-repeat-0 bg-position-center" style="background-image: url(assets/images/covers/login.jpg)"></div>
</div>
