<div class="d-lg-flex position-relative h-100">
	<app-home-button></app-home-button>
	<!-- Sign in form -->
	<div class="d-flex flex-column align-items-center w-lg-50 h-100 px-3 px-lg-5 pt-5">
		<div class="w-100 mt-auto" style="max-width: 526px">
			<h1>Sign in to Around</h1>
			<p class="pb-3 mb-3 mb-lg-4">
				Already have an account?&nbsp;&nbsp;
				<a routerLink="/account/login">Login here</a>
			</p>
			<form class="needs-validation" (ngSubmit)="onSubmit()" [formGroup]="sigupForm">
				<div class="row row-cols-1 row-cols-sm-2">
					<div class="col mb-4">
						<input class="form-control form-control-lg" type="text" placeholder="First name" required formControlName="firstName" />
					</div>
					<div class="col mb-4">
						<input class="form-control form-control-lg" type="email" placeholder="Last name" required formControlName="lastName" />
					</div>
				</div>
				<div class="pb-3 mb-3">
					<div class="position-relative">
						<i class="ai-mail fs-lg position-absolute top-50 start-0 translate-middle-y ms-3"></i>
						<input class="form-control form-control-lg ps-5" formControlName="userName" type="text" placeholder="Username" required />
					</div>
				</div>
				<div class="pb-3 mb-3">
					<div class="position-relative">
						<i class="ai-mail fs-lg position-absolute top-50 start-0 translate-middle-y ms-3"></i>
						<input class="form-control form-control-lg ps-5" formControlName="email" type="text" placeholder="Email address" required />
					</div>
				</div>
				<div class="mb-4">
					<div class="position-relative">
						<i class="ai-lock-closed fs-lg position-absolute top-50 start-0 translate-middle-y ms-3"></i>
						<div class="password-toggle">
							<input class="form-control form-control-lg ps-5" formControlName="password" type="password" placeholder="Password" required />
							<label class="password-toggle-btn" aria-label="Show/hide password">
								<input class="password-toggle-check" type="checkbox" />
								<span class="password-toggle-indicator"></span>
							</label>
						</div>
					</div>
				</div>
				<div class="d-flex flex-wrap align-items-center justify-content-between pb-4">
					<div class="form-check my-1">
						<input class="form-check-input" type="checkbox" id="keep-signedin" />
						<label class="form-check-label ms-1" for="keep-signedin">Keep me signed in</label>
					</div>
					<a class="fs-sm fw-semibold text-decoration-none my-1" routerLink="/account/otp">Forgot password?</a>
				</div>
				<button class="btn btn-lg btn-primary w-100 mb-4" type="submit">Sign in</button>

				<!-- Sign in with social account -->
				<h2 class="h6 text-center pt-3 pt-lg-4 mb-4">Or sign in with your social account</h2>
				<div class="row row-cols-1 row-cols-sm-2 gy-3">
					<div class="col">
						<a class="btn btn-icon btn-outline-secondary btn-google btn-lg w-100 disabled" href="#">
							<i class="ai-google fs-xl me-2"></i>
							Google
						</a>
					</div>
					<div class="col">
						<a class="btn btn-icon btn-outline-secondary btn-facebook btn-lg w-100 disabled" href="#">
							<i class="ai-facebook fs-xl me-2"></i>
							Facebook
						</a>
					</div>
				</div>
			</form>
		</div>

		<!-- Copyright -->
		<p class="nav w-100 fs-sm pt-5 mt-auto mb-5" style="max-width: 526px">
			<span class="text-body-secondary">&copy; All rights reserved. Made by</span>
			<a class="nav-link d-inline-block p-0 ms-1" href="https://createx.studio/" target="_blank" rel="noopener">Createx Studio</a>
		</p>
	</div>
	<div class="w-50 bg-size-cover bg-repeat-0 bg-position-center" style="background-image: url(assets/images/covers/login.jpg)"></div>
</div>
