<div class="w-100 mt-auto" style="max-width: 526px">
	<h1>Sign in to Around</h1>
	<p class="pb-3 mb-3 mb-lg-4">
		Don't have an account yet?&nbsp;&nbsp;
		<a routerLink="/account/signup">Register here!</a>
	</p>
	<form class="" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
		<div class="row row-cols-1 row-cols-sm-1 disabled">
			<div class="col mb-6 pb-4">
				<div class="position-relative">
					<i class="ai-mail fs-lg position-absolute top-50 start-0 translate-middle-y ms-3"></i>
					<input class="form-control form-control-lg ps-5" formControlName="username" type="text" placeholder="Email address" required />
				</div>
			</div>
			<div class="col mb-6">
				<div class="position-relative">
					<i class="ai-lock-closed fs-lg position-absolute top-50 start-0 translate-middle-y ms-3"></i>
					<div class="password-toggle">
						<input class="form-control form-control-lg ps-5" formControlName="password" type="password" placeholder="Password" required #passwordInput />
						<label class="password-toggle-btn" aria-label="Show/hide password">
							<input class="password-toggle-check" type="checkbox" (click)="togglePasswordVisibility(passwordInput)" />
							<span class="password-toggle-indicator"></span>
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="pb-3 mb-3"></div>
		<div class="mb-4"></div>
		<div class="d-flex flex-wrap align-items-center justify-content-between pb-4">
			<div class="form-check my-1">
				<input class="form-check-input" type="checkbox" id="keep-signedin" disabled />
				<label class="form-check-label ms-1" for="keep-signedin">Keep me signed in</label>
			</div>
			<a class="fs-sm fw-semibold text-decoration-none my-1" routerLink="/account/otp" [queryParams]="{ username: 'test' }">Forgot password?</a>
		</div>
		<button class="btn btn-lg btn-primary w-100 mb-4" type="submit">Sign in</button>

		<!-- Sign in with social account -->
		<h2 class="h6 text-center pt-3 pt-lg-4 mb-4">Or sign in with your social account</h2>
		<div class="row row-cols-1 row-cols-sm-2 gy-3">
			<div class="col">
				<a class="btn btn-icon btn-outline-secondary btn-google btn-lg w-100" type="button" (click)="googleLoginButton()">
					<i class="ai-google fs-xl me-2"></i>
					Google
				</a>
			
			</div>
			<div class="col">
				<a class="btn btn-icon btn-outline-secondary btn-facebook btn-lg w-100 disabled" href="#">
					<i class="ai-facebook fs-xl me-2"></i>
					Facebook
				</a>
			</div>
		</div>
	</form>
</div>

<div id="googleBtn" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog" role="document" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">The Ugly Google button</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-primary">
            <small class="pb-2">
            As i am unable to override this ugly looking icon i am using a separate modal to avoid ruining my login screen. if you know how to do it please raise an issue and help me out!!
            </small>
            <asl-google-signin-button type="icon" size="large" theme="filled_black" shape="pill" text="signin_with" logo_alignment="left" class="dark-theme"></asl-google-signin-button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
  