<section class="container pt-5 mt-5">
	<!-- Breadcrumb-->
	<nav aria-label="breadcrumb">
		<ol class="pt-lg-3 pb-lg-4 pb-2 breadcrumb">
			<li class="breadcrumb-item"><a routerLink="/">Home</a></li>
			<li class="breadcrumb-item"><a routerLink="/blogs">Blog</a></li>
			<li class="breadcrumb-item active" aria-current="page">
				<span *ngIf="!isLoading; else titlePlaceholder">{{ title }}</span>
				<ng-template #titlePlaceholder>
					<span class="placeholder glow col-sm-12 bg-primary w-200" data-aos="fade-in" data-aos-duration="500"></span>
				</ng-template>
			</li>
		</ol>
	</nav>

	<div class="row">
		<div class="col-lg-9 col-xl-8 pe-lg-4 pe-xl-0">
			<!-- Post title + post meta -->
			<h1 class="pb-2 pb-lg-3">{{ title }}</h1>
			<div class="d-flex flex-wrap align-items-center justify-content-between border-bottom mb-4">
				<div class="d-flex align-items-center mb-4 me-4">
					<span class="fs-sm me-2">By:</span>
					<ng-container *ngFor="let author of authors; let last = last">
						<a class="nav-link position-relative fw-semibold p-0" [routerLink]="'/user/' + author.username">
							{{ author.name }}
						</a>
						<span *ngIf="!last" class="fw-semibold">,&nbsp;</span>
					</ng-container>
				</div>
				<div class="d-flex align-items-center mb-4">
					<div class="d-flex" *ngIf="!isLoading; else likePlaceholder">
						<!-- <button type="button" class="btn btn-outline-danger rounded-pill py-2 mx-2" (click)="togglelike()"> -->

						<button [ngClass]="isLiked ? 'btn-danger btn rounded-pill py-2 mx-2' : 'btn-outline-primary btn rounded-pill py-2 mx-2'" (click)="togglelike()">
							<i [class]="{ 'ai-heart-filled': isLiked, 'ai-heart': !isLiked }"></i>
							<span class="px-1">{{ likesCount }}</span>
						</button>
						<button type="button" class="btn btn-outline-primary rounded-pill py-2">
							<span class="dan"><i class="ai-share"></i></span>
						</button>
					</div>
					<ng-template #likePlaceholder>
						<span class="placeholder glow col-sm-12 bg-primary w-200" data-aos="fade-in" data-aos-duration="500"></span>
					</ng-template>
				</div>
			</div>

			<!-- Post content -->
			<div class="blogContainer gallery" id="blogContent">
				<div data-aos="fade-in" data-aos-duration="500" *ngIf="!isLoading; else contentPlaceholder" [innerHTML]="content"></div>
				<ng-template #contentPlaceholder>
					<div class="card" aria-hidden="true">
						<div class="card-body">
							<h5 class="card-title placeholder-glow">
								<span class="placeholder col-6"></span>
								<span class="visually-hidden">Heading</span>
							</h5>
							<p class="card-text placeholder-glow">
								<span class="placeholder placeholder-sm col-7 me-2"></span>
								<span class="placeholder placeholder-sm col-4"></span>
								<span class="placeholder placeholder-sm col-4 me-2"></span>
								<span class="placeholder placeholder-sm col-6"></span>
								<span class="placeholder placeholder-sm col-8"></span>
							</p>
							<a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6 placeholder-wave"></a>
						</div>
					</div>
				</ng-template>
			</div>

			<!-- Tags -->
		</div>

		<!-- Sidebar (offcanvas on sreens < 992px) -->
		<aside class="col-lg-3 offset-xl-1">
			<div class="offcanvas-lg offcanvas-end" id="sidebar">
				<div class="offcanvas-header">
					<h4 class="offcanvas-title">Sidebar</h4>
					<button class="btn-close ms-auto" type="button" data-bs-dismiss="offcanvas" data-bs-target="#sidebar" aria-label="Close"></button>
				</div>
				<div class="offcanvas-body">
					<!-- Relevant topics -->
					<h4 class="pt-3 pt-lg-1 mb-4">Tags:</h4>
					<div class="d-flex flex-wrap mt-n3 ms-n3 mb-lg-5 mb-4 pb-3 pb-lg-0">
						<!-- <div *ngFor="let tag of tags">
                            <a class="nav-link fs-sm py-1 px-0 me-3" routerLink="/blogs" [queryParams]="{ tag: tag }">
                                <span class="text-primary">#</span>
                                {{ tag }}
                            </a>
                        </div> -->
					</div>
				</div>
			</div>
		</aside>
	</div>
</section>

<!-- Sidebar toggle button -->
<button class="d-lg-none btn btn-sm fs-sm btn-primary w-100 rounded-0 fixed-bottom" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
	<i class="ai-layout-column me-2"></i>
	Sidebar
</button>
